:root {
  --primary-brand-color: #4d5ae5;
  --secondary-page-color: #2e2f42;
  --white-background-color: #ffffff;
  --text-color: #434455;
  --logo-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ========== Body ========== */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-background-color);
  font-size: 16px;
  color: var(--secondary-page-color);
}
/* ========== Body ========== */

/* ========== Header ========== */
.page-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-page-color);
}

.logo-decor {
  color: var(--primary-brand-color);
}
.logo-decor-2 {
  color: var(--logo-color);
}

.menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-page-color);
}

.menu-link:hover,
.menu-link:focus,
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.address-link {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* ========== Header ========== */

/* ================ hero ================== */
.hero {
  background-color: var(--secondary-page-color);
}

.hero-title {
  font-size: 56px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
}

.modal-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* ================ /hero ================== */

/* ================ features ================== */
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-page-color);
}

.section-suptitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-page-color);
}

.section-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* ================ /features ================== */

/* ========= section 4 - team ======== */

.team {
  background-color: #f4f4fd;
}

.team-item {
  background-color: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
/* ========= /section 4 - team ======== */

/* ================= footer ================= */

.footer {
  background-color: var(--secondary-page-color);
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
}

/* ================= /footer ================= */

/* =========== Portfolio ========= */

.filter-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background-color: var(--logo-color) #f4f4fd;
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #404bbf;
  border-color: transparent;
}

/* =========== /Portfolio ========= */
